video {
    -webkit-clip-path: url(#clip);
    clip-path: url(#clip);
  }
  svg text {
    font-family: Impact ;
    /* font-weight: 800; */
    text-transform: uppercase;
  }
  .bg-gray-900 {
    height: 210px;
  }
  .arthub{
    display: flex;
    margin-bottom: 150px;
  }
  .arthub .image{
    height:300px;
    margin-top: 100px;
    margin-right: 100px;
    border-radius: 200px;
  }
  .button-check{
    margin-left: 570px;
  }
  .btn4 {
    padding: 10px 20px;
    margin-left: 570px;
    margin-top: 12px;
    width: 200px;
    font-weight: 600;
    background-color: #70C0CF;
    color: #fff;
    border-radius: 24px;
    cursor: pointer;
  }
  .arthub .inner{
    display: flex;
    flex-direction: column;
  }
  .gradient {
    background-image: linear-gradient(to right, #1D2CF3, #C5748E, #8E3AAB);
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
  }
  .gradient-text{
    margin-left: 180px; 
    font-size: 25px;
    font-weight: 600;
  }
  .normal-video-height {
    height: 500px; 
  }

  @media screen and (max-width: 1024px){
    .arthub{
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 768px){
    /* .svg-text-size text {
      font-size: 0.1;
    } */
    .bg-gray-900 {
      height: 0px;
    }
    .arthub .inner{
        margin: 0;
        padding: 0;
    }
    .arthub .image{
      height:auto;
      margin: 0;
      margin-top: 80px;
      border-radius: 200px;
    }
    .gradient-text{
      margin-top: 55px;
    margin-left: 70px;
    font-size: 20px;
    font-weight: 600;
    }
    
    .normal-video-height {
      height: 200px;
    }
    .arthub{
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
    }
    .button-check{
      margin-left: 100px;
    }
    
  }